*
{
    margin : 0;
    padding : 0;
}
header
{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header .bla
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav .sujet
{
    margin: 2rem;
    width: 3rem;
}
header nav .sujet p
{
    text-align: center;
}
header nav .sujet:hover .sous-lien
{
    display: block;
    margin-top: 0.5rem;
}
img
{
    max-height: 100%;
    max-width: 100%;
}
.img_logo
{
    height: 100px;
    width: 100px;
}
.sous-lien
{
    display:none;
}
main img
{
    width: 100%;
    height: 100vh;
}